# 1.ライブラリの読み込み
上から順に
* グラフを書くためにmatplotlib
* データの整理のためにpandas
* 数学的な計算のためにnumpy
* 時系列データを扱うためにdatetime
* matplotlibでdatetimeのフォーマットを変えるためにmdates

In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import datetime as dt
import matplotlib.dates as mdates
from scipy import signal

# 2.センサーデータの読みこみと確認
ファイルの読み込みに使用した変数名の命名則については以下の通りである．

例　セッション1のAさんのセンサデータ →　data1_a
　　セッション1のAさんのスケーリングデータ　→　data1_a_label

In [2]:
%time
#sensor_dataの読み込み
data1_a = pd.read_csv('sensor_data/session1/TSND151/raw_data_time/心筋電/Conv-mem-A心筋-20201111-121748240-ead.csv', encoding="shift-jis")
data1_b = pd.read_csv('sensor_data/session1/TSND151/raw_data_time/心筋電/Conv-mem-B心筋-20201111-122303403-ead.csv', encoding="shift-jis")
data1_c = pd.read_csv('sensor_data/session1/TSND151/raw_data_time/心筋電/Conv-mem-C心筋-20201111-121748453-ead.csv', encoding="shift-jis")
data1_d = pd.read_csv('sensor_data/session1/TSND151/raw_data_time/心筋電/Conv-mem-D心筋-20201111-121748555-ead.csv', encoding="shift-jis")
data2_a = pd.read_csv('sensor_data/session2/TSND151/raw_data_time/心筋電/Conv-mem-A心筋-20201111-145808287-ead.csv', encoding="shift-jis")
data2_b = pd.read_csv('sensor_data/session2/TSND151/raw_data_time/心筋電/Conv-mem-B心筋-20201111-145741908-ead.csv', encoding="shift-jis")
data2_c = pd.read_csv('sensor_data/session2/TSND151/raw_data_time/心筋電/Conv-mem-C心筋-20201111-150032244-ead.csv', encoding="shift-jis")
data2_d = pd.read_csv('sensor_data/session2/TSND151/raw_data_time/心筋電/Conv-mem-D心筋-20201111-145749360-ead.csv', encoding="shift-jis")

# Anotation_data
data1_a_label = pd.read_csv('emotion_label/label/emotion_A_20201111_1.csv')
data1_b_label = pd.read_csv('emotion_label/label/emotion_B_20201111_1.csv')
data1_c_label = pd.read_csv('emotion_label/label/emotion_C_20201111_1.csv')
data1_d_label = pd.read_csv('emotion_label/label/emotion_D_20201111_1.csv')
data2_a_label = pd.read_csv('emotion_label/label/emotion_A_20201111_2.csv')
data2_b_label = pd.read_csv('emotion_label/label/emotion_B_20201111_2.csv')
data2_c_label = pd.read_csv('emotion_label/label/emotion_C_20201111_2.csv')
data2_d_label = pd.read_csv('emotion_label/label/emotion_D_20201111_2.csv')

CPU times: user 2 µs, sys: 0 ns, total: 2 µs
Wall time: 3.81 µs

## 2.1 TSND151加速度，角速度センサデータとスケーリングデータの中身
今回のセンサデータの列はセンサの種類，時間，加速度のx，y，z，角速度x，y，zで構成されており，加速度の単位は0.1mG，角速度の単位は0.01dpsである．

スケーリングデータの列は，レコーディング動画の経過時間，感情のレベル値，発話されたユーザ名となっている．emotion_levelの感情値については今回は以下のように考えた．

-4〜-1→negative  0→neutral  １〜4→positive

In [3]:
#生データの確認
display(data1_a)
display(data1_c_label)

,種別,時刻,端子1AD値,端子2AD値,端子3AD値,端子4AD値,端子1AD値(フィルタあり),端子2AD値(フィルタあり),端子3AD値(フィルタなし),端子4AD値(フィルタなし)
0,ead2200,12:17:48.244,0,0,0,0,0,0,0,0
1,ead2200,12:17:48.245,0,0,0,0,0,0,0,0
2,ead2200,12:17:48.246,0,0,0,0,0,0,0,0
3,ead2200,12:17:48.247,0,0,0,0,0,0,0,0
4,ead2200,12:17:48.248,32767,28160,0,0,32111,27596,0,0
...,...,...,...,...,...,...,...,...,...,...
2438248,ead2200,12:58:26.492,-1962,-829,0,0,1234,-870,0,0
2438249,ead2200,12:58:26.493,-1966,-1035,0,0,1205,-1055,0,0
2438250,ead2200,12:58:26.494,-1929,-1358,0,0,1217,-1350,0,0
2438251,ead2200,12:58:26.495,-1886,-1473,0,0,1235,-1436,0,0
2438252,ead2200,12:58:26.496,-1845,-1202,0,0,1250,-1142,0,0

   timeHMS  emotion_level subject
0     5:36              3       A
1     6:08              3       B
2     6:14              3       A
3     6:25              2       B
4     6:35              3       D
5     6:45              3       A
6     6:58              4       B
7     8:10              3       D
8     8:30              2       B
9     9:00              3       A
10    9:16              0       B
11    9:29              2       A
12    9:39              4       B
13    9:53              1       B
14    9:57              3       B
15   10:09              1       D
16   10:39              3       B
17   10:57              4       A
18   11:08              0       D
19   11:10              0       A
20   11:18              3       B
21   11:57              1       B
22   12:07              2       B
23   12:11              0       A
24   12:25              3       A
25   13:00              0       A
26   13:16              2       A
27   13:21              2       B
28   13:24              3       A
29   13:40              1       B
30   13:49              2       B
31   13:56              0       A
32   14:03              1       D
33   14:07              4       A
34   14:52              3       A
35   15:07              0       A
36   15:32              2       B
37   15:46              1       A
38   15:51              1       B
39   16:06              2       A
40   16:20              0       A
41   16:23              4       B
42   16:48              2       B
43   16:57              3       B
44   17:40              2       A
45   17:44              2       B
46   17:57              3       B
47   18:07              3       D
48   18:17              3       D
49   18:21              0       B
50   19:25              3       B
51   19:44              2       B
52   20:10              1       A

In [4]:
def drop_order(data):
    drop_data = data.drop(["端子3AD値", "端子4AD値", "端子1AD値(フィルタあり)", "端子2AD値(フィルタあり)","端子3AD値(フィルタなし)", "端子4AD値(フィルタなし)"], axis=1, inplace=False)
    return drop_data

data1_a = drop_order(data1_a)
data1_b = drop_order(data1_b)
data1_c = drop_order(data1_c)
data1_d = drop_order(data1_d)
data2_a = drop_order(data2_a)
data2_b = drop_order(data2_b)
data2_c = drop_order(data2_c)
data2_d = drop_order(data2_d)

In [5]:
data2_d

              種別            時刻  端子1AD値  端子2AD値
0        ead2200  14:57:49.363       0       0
1        ead2200  14:57:49.364       0       0
2        ead2200  14:57:49.365       0       0
3        ead2200  14:57:49.366       0       0
4        ead2200  14:57:49.367  -15360   32767
...          ...           ...     ...     ...
2584103  ead2200  15:40:53.466    5425  -12756
2584104  ead2200  15:40:53.467    4473  -11638
2584105  ead2200  15:40:53.468    3799  -10961
2584106  ead2200  15:40:53.469    3672  -10998
2584107  ead2200  15:40:53.470    4901  -12050

[2584108 rows x 4 columns]

In [6]:
def volt_seiryu(data):
    data["電圧"] = data["端子2AD値"] * 0.073
    data["整流化"] = np.sqrt(data['電圧'] * data['電圧'])
    return data

data1_a = volt_seiryu(data1_a)
data1_b = volt_seiryu(data1_b)
data1_c = volt_seiryu(data1_c)
data1_d = volt_seiryu(data1_d)
data2_a = volt_seiryu(data2_a)
data2_b = volt_seiryu(data2_b)
data2_c = volt_seiryu(data2_c)
data2_d = volt_seiryu(data2_d)

In [7]:
data1_a

              種別            時刻  端子1AD値  端子2AD値        電圧       整流化
0        ead2200  12:17:48.244       0       0     0.000     0.000
1        ead2200  12:17:48.245       0       0     0.000     0.000
2        ead2200  12:17:48.246       0       0     0.000     0.000
3        ead2200  12:17:48.247       0       0     0.000     0.000
4        ead2200  12:17:48.248   32767   28160  2055.680  2055.680
...          ...           ...     ...     ...       ...       ...
2438248  ead2200  12:58:26.492   -1962    -829   -60.517    60.517
2438249  ead2200  12:58:26.493   -1966   -1035   -75.555    75.555
2438250  ead2200  12:58:26.494   -1929   -1358   -99.134    99.134
2438251  ead2200  12:58:26.495   -1886   -1473  -107.529   107.529
2438252  ead2200  12:58:26.496   -1845   -1202   -87.746    87.746

[2438253 rows x 6 columns]

# 3.スケーリングデータに即したセンサデータの抽出
スケーリングデータに即したセンサデータの取得方法は以下の通りである．
1. センサデータ及びスケーリングデータの時刻列をdatetime化
2. timedelta関数を使用して，時刻計算を行い，実験実施日に合わせていく
3. センサデータの時刻列をインデックス化

  時刻列をインデックスにすることで，時間を使ってのデータのスライスが可能となる

4. スケーリングデータの時刻列を文字列型のリストにする
5. ４の操作を行うことでセンサデータからスケーリングデータに即したデータを抽出するのが容易になる

In [8]:
def datetime_order(sensor_data):
    sensor_data['時刻'] = pd.to_datetime(sensor_data['時刻'], format='%H:%M:%S.%f')
    sensor_data['時刻'] = sensor_data['時刻'] + dt.timedelta(days=44144)

datetime_order(data1_a)
datetime_order(data1_b)
datetime_order(data1_c)
datetime_order(data1_d)

datetime_order(data2_a)
datetime_order(data2_b)
datetime_order(data2_c)
datetime_order(data2_d)

In [9]:
#emotion_labelのtimeHMS列をdatetime型に変換
data1_a_label['timeHMS'] = pd.to_datetime(data1_a_label['timeHMS'], format='%M:%S')
data1_b_label['timeHMS'] = pd.to_datetime(data1_b_label['timeHMS'], format='%M:%S')
data1_c_label['timeHMS'] = pd.to_datetime(data1_c_label['timeHMS'], format='%M:%S')
data1_d_label['timeHMS'] = pd.to_datetime(data1_d_label['timeHMS'], format='%H:%M:%S')

data2_a_label['timeHMS'] = pd.to_datetime(data2_a_label['timeHMS'], format='%H:%M:%S')
data2_b_label['timeHMS'] = pd.to_datetime(data2_b_label['timeHMS'], format='%M:%S')
data2_c_label['timeHMS'] = pd.to_datetime(data2_c_label['timeHMS'], format='%H:%M:%S')
data2_d_label['timeHMS'] = pd.to_datetime(data2_d_label['timeHMS'], format='%H:%M:%S')

In [10]:
#編集したデータの確認(確認のためセッション1のAさんのデータを表示している)
display(data2_d)
display(data1_a_label)

              種別                      時刻  端子1AD値  端子2AD値        電圧       整流化
0        ead2200 2020-11-11 14:57:49.363       0       0     0.000     0.000
1        ead2200 2020-11-11 14:57:49.364       0       0     0.000     0.000
2        ead2200 2020-11-11 14:57:49.365       0       0     0.000     0.000
3        ead2200 2020-11-11 14:57:49.366       0       0     0.000     0.000
4        ead2200 2020-11-11 14:57:49.367  -15360   32767  2391.991  2391.991
...          ...                     ...     ...     ...       ...       ...
2584103  ead2200 2020-11-11 15:40:53.466    5425  -12756  -931.188   931.188
2584104  ead2200 2020-11-11 15:40:53.467    4473  -11638  -849.574   849.574
2584105  ead2200 2020-11-11 15:40:53.468    3799  -10961  -800.153   800.153
2584106  ead2200 2020-11-11 15:40:53.469    3672  -10998  -802.854   802.854
2584107  ead2200 2020-11-11 15:40:53.470    4901  -12050  -879.650   879.650

[2584108 rows x 6 columns]

               timeHMS  emotion_level subject
0  1900-01-01 00:05:47              1       D
1  1900-01-01 00:05:51              1       B
2  1900-01-01 00:05:58              2       C
3  1900-01-01 00:06:07              1       B
4  1900-01-01 00:06:24              0       B
5  1900-01-01 00:06:34              3       D
6  1900-01-01 00:06:57              1       B
7  1900-01-01 00:07:06              3       B
8  1900-01-01 00:07:49              2       C
9  1900-01-01 00:08:29              1       B
10 1900-01-01 00:09:15              0       B
11 1900-01-01 00:09:39              1       B
12 1900-01-01 00:10:09              2       D
13 1900-01-01 00:10:39             -1       B
14 1900-01-01 00:11:18              0       B
15 1900-01-01 00:12:20              2       C
16 1900-01-01 00:13:40              1       B
17 1900-01-01 00:14:38              4       C
18 1900-01-01 00:15:33              4       B
19 1900-01-01 00:15:59              1       C
20 1900-01-01 00:16:15              2       C
21 1900-01-01 00:16:24              2       B
22 1900-01-01 00:17:44              1       B
23 1900-01-01 00:17:50              2       C
24 1900-01-01 00:17:56              3       B
25 1900-01-01 00:18:06              2       D
26 1900-01-01 00:19:00              3       C
27 1900-01-01 00:19:25              2       B
28 1900-01-01 00:20:19              2       C

端子3AD値(フィルタなし)### 補足(実験実施時間)

本実験は，zoomレコーディング動画の経過時間でスケーリングデータのemotion_levelをつけたため動画の開始時刻を使って実際の実験実施時間と合わせる必要がある．

方法としては，経過時間と動画の開始時刻を足して実験実施時間を算出する．

動画の開始時間↓

第1セッション12時34分30秒開始

第2セッション15時11分44秒開始

In [11]:
#label_dataを実験日に合わせる(datetime.timedeltaを用いている)
data1_a_label['timeHMS'] = data1_a_label['timeHMS'] + dt.timedelta(days=44144, hours=12, minutes=34, seconds=30)
data1_b_label['timeHMS'] = data1_b_label['timeHMS'] + dt.timedelta(days=44144, hours=12, minutes=34, seconds=30)
data1_c_label['timeHMS'] = data1_c_label['timeHMS'] + dt.timedelta(days=44144, hours=12, minutes=34, seconds=30)
data1_d_label['timeHMS'] = data1_d_label['timeHMS'] + dt.timedelta(days=44144, hours=12, minutes=34, seconds=30)

data2_a_label['timeHMS'] = data2_a_label['timeHMS'] + dt.timedelta(days=44144, hours=15, minutes=11, seconds=44)
data2_b_label['timeHMS'] = data2_b_label['timeHMS'] + dt.timedelta(days=44144, hours=15, minutes=11, seconds=44)
data2_c_label['timeHMS'] = data2_c_label['timeHMS'] + dt.timedelta(days=44144, hours=15, minutes=11, seconds=44)
data2_d_label['timeHMS'] = data2_d_label['timeHMS'] + dt.timedelta(days=44144, hours=15, minutes=11, seconds=44)

In [12]:
#編集したデータの確認(確認のためセッション1のAさんのデータを表示している)
display(data1_a_label)

               timeHMS  emotion_level subject
0  2020-11-11 12:40:17              1       D
1  2020-11-11 12:40:21              1       B
2  2020-11-11 12:40:28              2       C
3  2020-11-11 12:40:37              1       B
4  2020-11-11 12:40:54              0       B
5  2020-11-11 12:41:04              3       D
6  2020-11-11 12:41:27              1       B
7  2020-11-11 12:41:36              3       B
8  2020-11-11 12:42:19              2       C
9  2020-11-11 12:42:59              1       B
10 2020-11-11 12:43:45              0       B
11 2020-11-11 12:44:09              1       B
12 2020-11-11 12:44:39              2       D
13 2020-11-11 12:45:09             -1       B
14 2020-11-11 12:45:48              0       B
15 2020-11-11 12:46:50              2       C
16 2020-11-11 12:48:10              1       B
17 2020-11-11 12:49:08              4       C
18 2020-11-11 12:50:03              4       B
19 2020-11-11 12:50:29              1       C
20 2020-11-11 12:50:45              2       C
21 2020-11-11 12:50:54              2       B
22 2020-11-11 12:52:14              1       B
23 2020-11-11 12:52:20              2       C
24 2020-11-11 12:52:26              3       B
25 2020-11-11 12:52:36              2       D
26 2020-11-11 12:53:30              3       C
27 2020-11-11 12:53:55              2       B
28 2020-11-11 12:54:49              2       C

In [13]:
#datetime化したラベルデータを保存
data1_a_label.to_csv('emotion_label/label_datetime/emotion_A_20201111_1_datetime.csv', index=False)
data1_b_label.to_csv('emotion_label/label_datetime/emotion_B_20201111_1_datetime.csv', index=False)
data1_c_label.to_csv('emotion_label/label_datetime/emotion_C_20201111_1_datetime.csv', index=False)
data1_d_label.to_csv('emotion_label/label_datetime/emotion_D_20201111_1_datetime.csv', index=False)

data2_a_label.to_csv('emotion_label/label_datetime/emotion_A_20201111_2_datetime.csv', index=False)
data2_b_label.to_csv('emotion_label/label_datetime/emotion_B_20201111_2_datetime.csv', index=False)
data2_c_label.to_csv('emotion_label/label_datetime/emotion_C_20201111_2_datetime.csv', index=False)
data2_d_label.to_csv('emotion_label/label_datetime/emotion_D_20201111_2_datetime.csv', index=False)

In [14]:
#datetime化した加速度及び角速度データを保存
# data1_a.to_csv('sensor_data/session1/TSND151/raw_data_datetime/acc_gyr/Conv-mem-A胸-20201111-121953632-ags_datetime.csv', index=False)
# data1_b.to_csv('sensor_data/session1/TSND151/raw_data_datetime/acc_gyr/Conv-mem-B胸-20201111-122231707-ags_datetime.csv', index=False)
# data1_c.to_csv('sensor_data/session1/TSND151/raw_data_datetime/acc_gyr/Conv-mem-C胸-20201111-121953885-ags_datetime.csv', index=False)
# data1_d.to_csv('sensor_data/session1/TSND151/raw_data_datetime/acc_gyr/Conv-mem-D胸-20201111-121954011-ags_datetime.csv', index=False)

# data2_a.to_csv('sensor_data/se端子3AD値(フィルタなし)ssion2/TSND151/raw_data_datetime/acc_gyr/Conv-mem-A胸-20201111-145759193-ags_datetime.csv', index=False)
# data2_b.to_csv('sensor_data/session2/TSND151/raw_data_datetime/acc_gyr/Conv-mem-B胸-20201111-145733362-ags_datetime.csv', index=False)
# data2_c.to_csv('sensor_data/session2/TSND151/raw_data_datetime/acc_gyr/Conv-mem-C胸-20201111-150018208-ags_datetime.csv', index=False)
# data2_d.to_csv('sensor_data/session2/TSND151/raw_data_datetime/acc_gyr/Conv-mem-D胸-20201111-145806707-ags_datetime.csv', index=False)

In [15]:
#時刻をインデックスに
data1_a.set_index("時刻", inplace=True)
data1_b.set_index("時刻", inplace=True)
data1_c.set_index("時刻", inplace=True)
data1_d.set_index("時刻", inplace=True)

data2_a.set_index("時刻", inplace=True)
data2_b.set_index("時刻", inplace=True)
data2_c.set_index("時刻", inplace=True)
data2_d.set_index("時刻", inplace=True)

In [16]:
#編集したデータの確認(確認のためセッション1のAさんのデータを表示している)
display(data1_a)

                              種別  端子1AD値  端子2AD値        電圧       整流化
時刻
2020-11-11 12:17:48.244  ead2200       0       0     0.000     0.000
2020-11-11 12:17:48.245  ead2200       0       0     0.000     0.000
2020-11-11 12:17:48.246  ead2200       0       0     0.000     0.000
2020-11-11 12:17:48.247  ead2200       0       0     0.000     0.000
2020-11-11 12:17:48.248  ead2200   32767   28160  2055.680  2055.680
...                          ...     ...     ...       ...       ...
2020-11-11 12:58:26.492  ead2200   -1962    -829   -60.517    60.517
2020-11-11 12:58:26.493  ead2200   -1966   -1035   -75.555    75.555
2020-11-11 12:58:26.494  ead2200   -1929   -1358   -99.134    99.134
2020-11-11 12:58:26.495  ead2200   -1886   -1473  -107.529   107.529
2020-11-11 12:58:26.496  ead2200   -1845   -1202   -87.746    87.746

[2438253 rows x 5 columns]

In [17]:
#label_dataのtimeHMSにおいてdatetime型をstr型にする
data1_a_label["timeHMS"] = data1_a_label["timeHMS"].dt.strftime("%Y-%m-%d %H:%M:%S")
data1_b_label["timeHMS"] = data1_b_label["timeHMS"].dt.strftime("%Y-%m-%d %H:%M:%S")
data1_c_label["timeHMS"] = data1_c_label["timeHMS"].dt.strftime("%Y-%m-%d %H:%M:%S")
data1_d_label["timeHMS"] = data1_d_label["timeHMS"].dt.strftime("%Y-%m-%d %H:%M:%S")

data2_a_label["timeHMS"] = data2_a_label["timeHMS"].dt.strftime("%Y-%m-%d %H:%M:%S")
data2_b_label["timeHMS"] = data2_b_label["timeHMS"].dt.strftime("%Y-%m-%d %H:%M:%S")
data2_c_label["timeHMS"] = data2_c_label["timeHMS"].dt.strftime("%Y-%m-%d %H:%M:%S")
data2_d_label["timeHMS"] = data2_d_label["timeHMS"].dt.strftime("%Y-%m-%d %H:%M:%S")

In [18]:
#編集したデータの確認(確認のためセッション1のAさんのデータを表示している)
display(data1_a_label)

                timeHMS  emotion_level subject
0   2020-11-11 12:40:17              1       D
1   2020-11-11 12:40:21              1       B
2   2020-11-11 12:40:28              2       C
3   2020-11-11 12:40:37              1       B
4   2020-11-11 12:40:54              0       B
5   2020-11-11 12:41:04              3       D
6   2020-11-11 12:41:27              1       B
7   2020-11-11 12:41:36              3       B
8   2020-11-11 12:42:19              2       C
9   2020-11-11 12:42:59              1       B
10  2020-11-11 12:43:45              0       B
11  2020-11-11 12:44:09              1       B
12  2020-11-11 12:44:39              2       D
13  2020-11-11 12:45:09             -1       B
14  2020-11-11 12:45:48              0       B
15  2020-11-11 12:46:50              2       C
16  2020-11-11 12:48:10              1       B
17  2020-11-11 12:49:08              4       C
18  2020-11-11 12:50:03              4       B
19  2020-11-11 12:50:29              1       C
20  2020-11-11 12:50:45              2       C
21  2020-11-11 12:50:54              2       B
22  2020-11-11 12:52:14              1       B
23  2020-11-11 12:52:20              2       C
24  2020-11-11 12:52:26              3       B
25  2020-11-11 12:52:36              2       D
26  2020-11-11 12:53:30              3       C
27  2020-11-11 12:53:55              2       B
28  2020-11-11 12:54:49              2       C

In [19]:
data1_a_time = list(data1_a_label["timeHMS"])
data1_b_time = list(data1_b_label["timeHMS"])
data1_c_time = list(data1_c_label["timeHMS"])
data1_d_time = list(data1_d_label["timeHMS"])

data2_a_time = list(data2_a_label["timeHMS"])
data2_b_time = list(data2_b_label["timeHMS"])
data2_c_time = list(data2_c_label["timeHMS"])
data2_d_time = list(data2_d_label["timeHMS"])

In [20]:
#編集したデータの確認(確認のためセッション1のAさんのデータを表示している)
data1_a_time

['2020-11-11 12:40:17',
 '2020-11-11 12:40:21',
 '2020-11-11 12:40:28',
 '2020-11-11 12:40:37',
 '2020-11-11 12:40:54',
 '2020-11-11 12:41:04',
 '2020-11-11 12:41:27',
 '2020-11-11 12:41:36',
 '2020-11-11 12:42:19',
 '2020-11-11 12:42:59',
 '2020-11-11 12:43:45',
 '2020-11-11 12:44:09',
 '2020-11-11 12:44:39',
 '2020-11-11 12:45:09',
 '2020-11-11 12:45:48',
 '2020-11-11 12:46:50',
 '2020-11-11 12:48:10',
 '2020-11-11 12:49:08',
 '2020-11-11 12:50:03',
 '2020-11-11 12:50:29',
 '2020-11-11 12:50:45',
 '2020-11-11 12:50:54',
 '2020-11-11 12:52:14',
 '2020-11-11 12:52:20',
 '2020-11-11 12:52:26',
 '2020-11-11 12:52:36',
 '2020-11-11 12:53:30',
 '2020-11-11 12:53:55',
 '2020-11-11 12:54:49']

### 抽出時間の定義

In [44]:
def time_plus_order(data_time):
    data_time_plus = pd.to_datetime(data_time)
    data_time_plus = data_time_plus + dt.timedelta(seconds=2)
    data_time_plus = pd.DataFrame(data_time_plus)
    data_time_plus = data_time_plus[0].dt.strftime("%Y-%m-%d %H:%M:%S.%f")
    data_time_plus = list(data_time_plus)
    return data_time_plus

def time_laps_order(data_time):
    data_time_laps = pd.to_datetime(data_time)
    data_time_laps = data_time_laps + dt.timedelta(seconds=7)
    data_time_laps = pd.DataFrame(data_time_laps)
    data_time_laps = data_time_laps[0].dt.strftime("%Y-%m-%d %H:%M:%S.%f")
    data_time_laps = list(data_time_laps)
    return data_time_laps

data1_a_time_plus_list, data1_a_time_laps_list = time_plus_order(data1_a_time), time_laps_order(data1_a_time)
data1_b_time_plus_list, data1_b_time_laps_list = time_plus_order(data1_b_time), time_laps_order(data1_b_time)
data1_c_time_plus_list, data1_c_time_laps_list = time_plus_order(data1_c_time), time_laps_order(data1_c_time)
data1_d_time_plus_list, data1_d_time_laps_list = time_plus_order(data1_d_time), time_laps_order(data1_d_time)

data2_a_time_plus_list, data2_a_time_laps_list = time_plus_order(data2_a_time), time_laps_order(data2_a_time)
data2_b_time_plus_list, data2_b_time_laps_list = time_plus_order(data2_b_time), time_laps_order(data2_b_time)
data2_c_time_plus_list, data2_c_time_laps_list = time_plus_order(data2_c_time), time_laps_order(data2_c_time)
data2_d_time_plus_list, data2_d_time_laps_list = time_plus_order(data2_d_time), time_laps_order(data2_d_time)

In [45]:
def sensor_segmentation_order(data, data_time_plus_list, data_time_laps_list, data_label):
    a = [data[data_time_plus_list[i]:data_time_laps_list[i]]for i in range(0, len(data_label), 1)]
    return a

data1_a_record = sensor_segmentation_order(data1_a, data1_a_time_plus_list, data1_a_time_laps_list, data1_a_label)
data1_b_record = sensor_segmentation_order(data1_b, data1_b_time_plus_list, data1_b_time_laps_list, data1_b_label)
data1_c_record = sensor_segmentation_order(data1_c, data1_c_time_plus_list, data1_c_time_laps_list, data1_c_label)
data1_d_record = sensor_segmentation_order(data1_d, data1_d_time_plus_list, data1_d_time_laps_list, data1_d_label)

data2_a_record = sensor_segmentation_order(data2_a, data2_a_time_plus_list, data2_a_time_laps_list, data2_a_label)
data2_b_record = sensor_segmentation_order(data2_b, data2_b_time_plus_list, data2_b_time_laps_list, data2_b_label)
data2_c_record = sensor_segmentation_order(data2_c, data2_c_time_plus_list, data2_c_time_laps_list, data2_c_label)
data2_d_record = sensor_segmentation_order(data2_d, data2_d_time_plus_list, data2_d_time_laps_list, data2_d_label)

# 4.特徴量算出
感情の識別を行うため学習器作成のために特徴量の算出を行う．今回特徴量としたのは，emg，VLF，LF，HFである．プログラムの処理手順を以下に示す．

1. emg
2. VLF
3. LF
4. HF1, HF2, HF3, HF4, HF5

In [46]:
data1_a_emg = []
for i in range(0, len(data1_a_label), 1):
    sum_x = np.sum(data1_a_record[i]['整流化'])
    data1_a_emg.append(sum_x)

data1_b_emg = []
for i in range(0, len(data1_b_label), 1):
    sum_x = np.sum(data1_b_record[i]['整流化'])
    data1_b_emg.append(sum_x)
    
data1_c_emg = []
for i in range(0, len(data1_c_label), 1):
    sum_x = np.sum(data1_c_record[i]['整流化'])
    data1_c_emg.append(sum_x)
    
data1_d_emg = []
for i in range(0, len(data1_d_label), 1):
    sum_x = np.sum(data1_d_record[i]['整流化'])
    data1_d_emg.append(sum_x)

data2_a_emg = []
for i in range(0, len(data2_a_label), 1):
    sum_x = np.sum(data2_a_record[i]['整流化'])
    data2_a_emg.append(sum_x)

data2_b_emg = []
for i in range(0, len(data2_b_label), 1):
    sum_x = np.sum(data2_b_record[i]['整流化'])
    data2_b_emg.append(sum_x)
    
data2_c_emg = []
for i in range(0, len(data2_c_label), 1):
    sum_x = np.sum(data2_c_record[i]['整流化'])
    data2_c_emg.append(sum_x)

data2_d_emg = []
for i in range(0, len(data2_d_label), 1):
    sum_x = np.sum(data2_d_record[i]['整流化'])
    data2_d_emg.append(sum_x)

data1_a_emg = pd.DataFrame(data1_a_emg)
data1_b_emg = pd.DataFrame(data1_b_emg)
data1_c_emg = pd.DataFrame(data1_c_emg)
data1_d_emg = pd.DataFrame(data1_d_emg)
data2_a_emg = pd.DataFrame(data2_a_emg)
data2_b_emg = pd.DataFrame(data2_b_emg)
data2_c_emg = pd.DataFrame(data2_c_emg)
data2_d_emg = pd.DataFrame(data2_d_emg)
    
emg_list = pd.concat([data1_a_emg, data1_b_emg, data1_c_emg, data1_d_emg, data2_a_emg, data2_b_emg, data2_c_emg, data2_d_emg], axis=0, ignore_index=True)
emg_list

              0
0    210310.883
1    234861.002
2    203932.143
3    272518.928
4    139989.545
..          ...
264   88741.136
265  113944.605
266  220241.000
267  116094.382
268  331163.551

[269 rows x 1 columns]

# VLF

In [47]:
from scipy import fftpack
data1_a_sumVLF = []
data1_b_sumVLF = []
data1_c_sumVLF = []
data1_d_sumVLF = []
data2_a_sumVLF = []
data2_b_sumVLF = []
data2_c_sumVLF = []
data2_d_sumVLF = []

for i in range(0, len(data1_a_label), 1):
    x = data1_a_record[i]['整流化'].values.flatten()
    fs = 1000
    n = len(data1_a_record[i])
    fft = fftpack.fftfreq(n,1/fs)
    spectrum = np.abs(fftpack.fft(x))
    
    a = pd.DataFrame(fft)
    a.rename(columns={0: 'freq'},inplace = True)
    b = pd.DataFrame(spectrum)
    b.rename(columns={0: 'inten'},inplace = True)
    result = pd.concat([a,b],axis = 1)
    result = result.set_index('freq')
    VLF = result.loc[10:169]
    sumVLF = 0
    for a in VLF.inten:
        sumVLF += a
    data1_a_sumVLF.append(sumVLF)

for i in range(0, len(data1_b_label), 1):
    x = data1_b_record[i]['整流化'].values.flatten()
    fs = 1000
    n = len(data1_b_record[i])
    fft = fftpack.fftfreq(n,1/fs)
    spectrum = np.abs(fftpack.fft(x))
    
    a = pd.DataFrame(fft)
    a.rename(columns={0: 'freq'},inplace = True)
    b = pd.DataFrame(spectrum)
    b.rename(columns={0: 'inten'},inplace = True)
    result = pd.concat([a,b],axis = 1)
    result = result.set_index('freq')
    VLF = result.loc[10:169]
    sumVLF = 0
    for a in VLF.inten:
        sumVLF += a
    data1_b_sumVLF.append(sumVLF)

for i in range(0, len(data1_c_label), 1):
    x = data1_c_record[i]['整流化'].values.flatten()
    fs = 1000
    n = len(data1_c_record[i])
    fft = fftpack.fftfreq(n,1/fs)
    spectrum = np.abs(fftpack.fft(x))
    
    a = pd.DataFrame(fft)
    a.rename(columns={0: 'freq'},inplace = True)
    b = pd.DataFrame(spectrum)
    b.rename(columns={0: 'inten'},inplace = True)
    result = pd.concat([a,b],axis = 1)
    result = result.set_index('freq')
    VLF = result.loc[10:169]
    sumVLF = 0
    for a in VLF.inten:
        sumVLF += a
    data1_c_sumVLF.append(sumVLF)

for i in range(0, len(data1_d_label), 1):
    x = data1_d_record[i]['整流化'].values.flatten()
    fs = 1000
    n = len(data1_d_record[i])
    fft = fftpack.fftfreq(n,1/fs)
    spectrum = np.abs(fftpack.fft(x))
    
    a = pd.DataFrame(fft)
    a.rename(columns={0: 'freq'},inplace = True)
    b = pd.DataFrame(spectrum)
    b.rename(columns={0: 'inten'},inplace = True)
    result = pd.concat([a,b],axis = 1)
    result = result.set_index('freq')
    VLF = result.loc[10:169]
    sumVLF = 0
    for a in VLF.inten:
        sumVLF += a
    data1_d_sumVLF.append(sumVLF)

for i in range(0, len(data2_a_label), 1):
    x = data2_a_record[i]['整流化'].values.flatten()
    fs = 1000
    n = len(data2_a_record[i])
    fft = fftpack.fftfreq(n,1/fs)
    spectrum = np.abs(fftpack.fft(x))
    
    a = pd.DataFrame(fft)
    a.rename(columns={0: 'freq'},inplace = True)
    b = pd.DataFrame(spectrum)
    b.rename(columns={0: 'inten'},inplace = True)
    result = pd.concat([a,b],axis = 1)
    result = result.set_index('freq')
    VLF = result.loc[10:169]
    sumVLF = 0
    for a in VLF.inten:
        sumVLF += a
    data2_a_sumVLF.append(sumVLF)

for i in range(0, len(data2_b_label), 1):
    x = data2_b_record[i]['整流化'].values.flatten()
    fs = 1000
    n = len(data2_b_record[i])
    fft = fftpack.fftfreq(n,1/fs)
    spectrum = np.abs(fftpack.fft(x))
    
    a = pd.DataFrame(fft)
    a.rename(columns={0: 'freq'},inplace = True)
    b = pd.DataFrame(spectrum)
    b.rename(columns={0: 'inten'},inplace = True)
    result = pd.concat([a,b],axis = 1)
    result = result.set_index('freq')
    VLF = result.loc[10:169]
    sumVLF = 0
    for a in VLF.inten:
        sumVLF += a
    data2_b_sumVLF.append(sumVLF)

for i in range(0, len(data2_c_label), 1):
    x = data2_c_record[i]['整流化'].values.flatten()
    fs = 1000
    n = len(data2_c_record[i])
    fft = fftpack.fftfreq(n,1/fs)
    spectrum = np.abs(fftpack.fft(x))
    
    a = pd.DataFrame(fft)
    a.rename(columns={0: 'freq'},inplace = True)
    b = pd.DataFrame(spectrum)
    b.rename(columns={0: 'inten'},inplace = True)
    result = pd.concat([a,b],axis = 1)
    result = result.set_index('freq')
    VLF = result.loc[10:169]
    sumVLF = 0
    for a in VLF.inten:
        sumVLF += a
    data2_c_sumVLF.append(sumVLF)

for i in range(0, len(data2_d_label), 1):
    x = data2_d_record[i]['整流化'].values.flatten()
    fs = 1000
    n = len(data2_d_record[i])
    fft = fftpack.fftfreq(n,1/fs)
    spectrum = np.abs(fftpack.fft(x))
    
    a = pd.DataFrame(fft)
    a.rename(columns={0: 'freq'},inplace = True)
    b = pd.DataFrame(spectrum)
    b.rename(columns={0: 'inten'},inplace = True)
    result = pd.concat([a,b],axis = 1)
    result = result.set_index('freq')
    VLF = result.loc[10:169]
    sumVLF = 0
    for a in VLF.inten:
        sumVLF += a
    data2_d_sumVLF.append(sumVLF)    
    
    

data1_a_sumVLF = pd.DataFrame(data1_a_sumVLF)
data1_b_sumVLF = pd.DataFrame(data1_b_sumVLF)
data1_c_sumVLF = pd.DataFrame(data1_c_sumVLF)
data1_d_sumVLF = pd.DataFrame(data1_d_sumVLF)
data2_a_sumVLF = pd.DataFrame(data2_a_sumVLF)
data2_b_sumVLF = pd.DataFrame(data2_b_sumVLF)
data2_c_sumVLF = pd.DataFrame(data2_c_sumVLF)
data2_d_sumVLF = pd.DataFrame(data2_d_sumVLF)
    
sumVLF_list = pd.concat([data1_a_sumVLF, data1_b_sumVLF, data1_c_sumVLF, data1_d_sumVLF, data2_a_sumVLF, data2_b_sumVLF, data2_c_sumVLF, data2_d_sumVLF], axis=0, ignore_index=True)
sumVLF_list

                0
0    5.453623e+05
1    5.953435e+05
2    1.035894e+06
3    5.104846e+05
4    3.990697e+05
..            ...
264  4.363413e+05
265  4.051574e+05
266  5.515697e+05
267  3.988614e+05
268  8.028130e+05

[269 rows x 1 columns]

# LF

In [48]:
from scipy import fftpack
data1_a_sumLF = []
data1_b_sumLF = []
data1_c_sumLF = []
data1_d_sumLF = []
data2_a_sumLF = []
data2_b_sumLF = []
data2_c_sumLF = []
data2_d_sumLF = []

for i in range(0, len(data1_a_label), 1):
    x = data1_a_record[i]['整流化'].values.flatten()
    fs = 1000
    n = len(data1_a_record[i])
    fft = fftpack.fftfreq(n,1/fs)
    spectrum = np.abs(fftpack.fft(x))
    
    a = pd.DataFrame(fft)
    a.rename(columns={0: 'freq'},inplace = True)
    b = pd.DataFrame(spectrum)
    b.rename(columns={0: 'inten'},inplace = True)
    result = pd.concat([a,b],axis = 1)
    result = result.set_index('freq')
    LF = result.loc[170:200]
    sumLF = 0
    for a in LF.inten:
        sumLF += a
    data1_a_sumLF.append(sumLF)

for i in range(0, len(data1_b_label), 1):
    x = data1_b_record[i]['整流化'].values.flatten()
    fs = 1000
    n = len(data1_b_record[i])
    fft = fftpack.fftfreq(n,1/fs)
    spectrum = np.abs(fftpack.fft(x))
    
    a = pd.DataFrame(fft)
    a.rename(columns={0: 'freq'},inplace = True)
    b = pd.DataFrame(spectrum)
    b.rename(columns={0: 'inten'},inplace = True)
    result = pd.concat([a,b],axis = 1)
    result = result.set_index('freq')
    LF = result.loc[170:200]
    sumLF = 0
    for a in LF.inten:
        sumLF += a
    data1_b_sumLF.append(sumLF)

for i in range(0, len(data1_c_label), 1):
    x = data1_c_record[i]['整流化'].values.flatten()
    fs = 1000
    n = len(data1_c_record[i])
    fft = fftpack.fftfreq(n,1/fs)
    spectrum = np.abs(fftpack.fft(x))
    
    a = pd.DataFrame(fft)
    a.rename(columns={0: 'freq'},inplace = True)
    b = pd.DataFrame(spectrum)
    b.rename(columns={0: 'inten'},inplace = True)
    result = pd.concat([a,b],axis = 1)
    result = result.set_index('freq')
    LF = result.loc[170:200]
    sumLF = 0
    for a in LF.inten:
        sumLF += a
    data1_c_sumLF.append(sumLF)

for i in range(0, len(data1_d_label), 1):
    x = data1_d_record[i]['整流化'].values.flatten()
    fs = 1000
    n = len(data1_d_record[i])
    fft = fftpack.fftfreq(n,1/fs)
    spectrum = np.abs(fftpack.fft(x))
    
    a = pd.DataFrame(fft)
    a.rename(columns={0: 'freq'},inplace = True)
    b = pd.DataFrame(spectrum)
    b.rename(columns={0: 'inten'},inplace = True)
    result = pd.concat([a,b],axis = 1)
    result = result.set_index('freq')
    LF = result.loc[170:200]
    sumLF = 0
    for a in LF.inten:
        sumLF += a
    data1_d_sumLF.append(sumLF)

for i in range(0, len(data2_a_label), 1):
    x = data2_a_record[i]['整流化'].values.flatten()
    fs = 1000
    n = len(data2_a_record[i])
    fft = fftpack.fftfreq(n,1/fs)
    spectrum = np.abs(fftpack.fft(x))
    
    a = pd.DataFrame(fft)
    a.rename(columns={0: 'freq'},inplace = True)
    b = pd.DataFrame(spectrum)
    b.rename(columns={0: 'inten'},inplace = True)
    result = pd.concat([a,b],axis = 1)
    result = result.set_index('freq')
    LF = result.loc[170:200]
    sumLF = 0
    for a in LF.inten:
        sumLF += a
    data2_a_sumLF.append(sumLF)

for i in range(0, len(data2_b_label), 1):
    x = data2_b_record[i]['整流化'].values.flatten()
    fs = 1000
    n = len(data2_b_record[i])
    fft = fftpack.fftfreq(n,1/fs)
    spectrum = np.abs(fftpack.fft(x))
    
    a = pd.DataFrame(fft)
    a.rename(columns={0: 'freq'},inplace = True)
    b = pd.DataFrame(spectrum)
    b.rename(columns={0: 'inten'},inplace = True)
    result = pd.concat([a,b],axis = 1)
    result = result.set_index('freq')
    LF = result.loc[170:200]
    sumLF = 0
    for a in LF.inten:
        sumLF += a
    data2_b_sumLF.append(sumLF)

for i in range(0, len(data2_c_label), 1):
    x = data2_c_record[i]['整流化'].values.flatten()
    fs = 1000
    n = len(data2_c_record[i])
    fft = fftpack.fftfreq(n,1/fs)
    spectrum = np.abs(fftpack.fft(x))
    
    a = pd.DataFrame(fft)
    a.rename(columns={0: 'freq'},inplace = True)
    b = pd.DataFrame(spectrum)
    b.rename(columns={0: 'inten'},inplace = True)
    result = pd.concat([a,b],axis = 1)
    result = result.set_index('freq')
    LF = result.loc[170:200]
    usmLF = 0
    for a in VLF.inten:
        LF += a
    data2_c_sumLF.append(sumLF)

for i in range(0, len(data2_d_label), 1):
    x = data2_d_record[i]['整流化'].values.flatten()
    fs = 1000
    n = len(data2_d_record[i])
    fft = fftpack.fftfreq(n,1/fs)
    spectrum = np.abs(fftpack.fft(x))
    
    a = pd.DataFrame(fft)
    a.rename(columns={0: 'freq'},inplace = True)
    b = pd.DataFrame(spectrum)
    b.rename(columns={0: 'inten'},inplace = True)
    result = pd.concat([a,b],axis = 1)
    result = result.set_index('freq')
    LF = result.loc[170:200]
    sumLF = 0
    for a in LF.inten:
        sumLF += a
    data2_d_sumLF.append(sumLF)    
    
    

data1_a_sumLF = pd.DataFrame(data1_a_sumLF)
data1_b_sumLF = pd.DataFrame(data1_b_sumLF)
data1_c_sumLF = pd.DataFrame(data1_c_sumLF)
data1_d_sumLF = pd.DataFrame(data1_d_sumLF)
data2_a_sumLF = pd.DataFrame(data2_a_sumLF)
data2_b_sumLF = pd.DataFrame(data2_b_sumLF)
data2_c_sumLF = pd.DataFrame(data2_c_sumLF)
data2_d_sumLF = pd.DataFrame(data2_d_sumLF)
    
sumLF_list = pd.concat([data1_a_sumLF, data1_b_sumLF, data1_c_sumLF, data1_d_sumLF, data2_a_sumLF, data2_b_sumLF, data2_c_sumLF, data2_d_sumLF], axis=0, ignore_index=True)
sumLF_list

                0
0    38296.034223
1    38480.710110
2    92677.319320
3    33461.439679
4    25587.219276
..            ...
264  28778.537660
265  29128.684699
266  30902.082138
267  23500.454629
268  36953.816337

[269 rows x 1 columns]

In [49]:
from scipy import fftpack
data1_a_sumHF1 = []
data1_b_sumHF1 = []
data1_c_sumHF1 = []
data1_d_sumHF1 = []
data2_a_sumHF1 = []
data2_b_sumHF1 = []
data2_c_sumHF1 = []
data2_d_sumHF1 = []

for i in range(0, len(data1_a_label), 1):
    x = data1_a_record[i]['整流化'].values.flatten()
    fs = 1000
    n = len(data1_a_record[i])
    fft = fftpack.fftfreq(n,1/fs)
    spectrum = np.abs(fftpack.fft(x))
    
    a = pd.DataFrame(fft)
    a.rename(columns={0: 'freq'},inplace = True)
    b = pd.DataFrame(spectrum)
    b.rename(columns={0: 'inten'},inplace = True)
    result = pd.concat([a,b],axis = 1)
    result = result.set_index('freq')
    HF1 = result.loc[211:300]
    sumHF1 = 0
    for a in HF1.inten:
        sumHF1 += a
    data1_a_sumHF1.append(sumHF1)

for i in range(0, len(data1_b_label), 1):
    x = data1_b_record[i]['整流化'].values.flatten()
    fs = 1000
    n = len(data1_b_record[i])
    fft = fftpack.fftfreq(n,1/fs)
    spectrum = np.abs(fftpack.fft(x))
    
    a = pd.DataFrame(fft)
    a.rename(columns={0: 'freq'},inplace = True)
    b = pd.DataFrame(spectrum)
    b.rename(columns={0: 'inten'},inplace = True)
    result = pd.concat([a,b],axis = 1)
    result = result.set_index('freq')
    HF1 = result.loc[211:300]
    sumHF1 = 0
    for a in HF1.inten:
        sumHF1 += a
    data1_b_sumHF1.append(sumHF1)

for i in range(0, len(data1_c_label), 1):
    x = data1_c_record[i]['整流化'].values.flatten()
    fs = 1000
    n = len(data1_c_record[i])
    fft = fftpack.fftfreq(n,1/fs)
    spectrum = np.abs(fftpack.fft(x))
    
    a = pd.DataFrame(fft)
    a.rename(columns={0: 'freq'},inplace = True)
    b = pd.DataFrame(spectrum)
    b.rename(columns={0: 'inten'},inplace = True)
    result = pd.concat([a,b],axis = 1)
    result = result.set_index('freq')
    HF1 = result.loc[211:300]
    sumHF1 = 0
    for a in HF1.inten:
        sumHF1 += a
    data1_c_sumHF1.append(sumHF1)

for i in range(0, len(data1_d_label), 1):
    x = data1_d_record[i]['整流化'].values.flatten()
    fs = 1000
    n = len(data1_d_record[i])
    fft = fftpack.fftfreq(n,1/fs)
    spectrum = np.abs(fftpack.fft(x))
    
    a = pd.DataFrame(fft)
    a.rename(columns={0: 'freq'},inplace = True)
    b = pd.DataFrame(spectrum)
    b.rename(columns={0: 'inten'},inplace = True)
    result = pd.concat([a,b],axis = 1)
    result = result.set_index('freq')
    HF1 = result.loc[211:300]
    sumHF1 = 0
    for a in HF1.inten:
        sumHF1 += a
    data1_d_sumHF1.append(sumHF1)

for i in range(0, len(data2_a_label), 1):
    x = data2_a_record[i]['整流化'].values.flatten()
    fs = 1000
    n = len(data2_a_record[i])
    fft = fftpack.fftfreq(n,1/fs)
    spectrum = np.abs(fftpack.fft(x))
    
    a = pd.DataFrame(fft)
    a.rename(columns={0: 'freq'},inplace = True)
    b = pd.DataFrame(spectrum)
    b.rename(columns={0: 'inten'},inplace = True)
    result = pd.concat([a,b],axis = 1)
    result = result.set_index('freq')
    HF1 = result.loc[211:300]
    sumHF1 = 0
    for a in HF1.inten:
        sumHF1 += a
    data2_a_sumHF1.append(sumHF1)

for i in range(0, len(data2_b_label), 1):
    x = data2_b_record[i]['整流化'].values.flatten()
    fs = 1000
    n = len(data2_b_record[i])
    fft = fftpack.fftfreq(n,1/fs)
    spectrum = np.abs(fftpack.fft(x))
    
    a = pd.DataFrame(fft)
    a.rename(columns={0: 'freq'},inplace = True)
    b = pd.DataFrame(spectrum)
    b.rename(columns={0: 'inten'},inplace = True)
    result = pd.concat([a,b],axis = 1)
    result = result.set_index('freq')
    HF1 = result.loc[211:300]
    sumHF1 = 0
    for a in HF1.inten:
        sumHF1 += a
    data2_b_sumHF1.append(sumHF1)

for i in range(0, len(data2_c_label), 1):
    x = data2_c_record[i]['整流化'].values.flatten()
    fs = 1000
    n = len(data2_c_record[i])
    fft = fftpack.fftfreq(n,1/fs)
    spectrum = np.abs(fftpack.fft(x))
    
    a = pd.DataFrame(fft)
    a.rename(columns={0: 'freq'},inplace = True)
    b = pd.DataFrame(spectrum)
    b.rename(columns={0: 'inten'},inplace = True)
    result = pd.concat([a,b],axis = 1)
    result = result.set_index('freq')
    HF1 = result.loc[211:300]
    usmHF1 = 0
    for a in HF1.inten:
        HF1 += a
    data2_c_sumHF1.append(sumHF1)

for i in range(0, len(data2_d_label), 1):
    x = data2_d_record[i]['整流化'].values.flatten()
    fs = 1000
    n = len(data2_d_record[i])
    fft = fftpack.fftfreq(n,1/fs)
    spectrum = np.abs(fftpack.fft(x))
    
    a = pd.DataFrame(fft)
    a.rename(columns={0: 'freq'},inplace = True)
    b = pd.DataFrame(spectrum)
    b.rename(columns={0: 'inten'},inplace = True)
    result = pd.concat([a,b],axis = 1)
    result = result.set_index('freq')
    HF1 = result.loc[211:300]
    sumHF1 = 0
    for a in HF1.inten:
        sumHF1 += a
    data2_d_sumHF1.append(sumHF1)    
    
    

data1_a_sumHF1 = pd.DataFrame(data1_a_sumHF1)
data1_b_sumHF1 = pd.DataFrame(data1_b_sumHF1)
data1_c_sumHF1 = pd.DataFrame(data1_c_sumHF1)
data1_d_sumHF1 = pd.DataFrame(data1_d_sumHF1)
data2_a_sumHF1 = pd.DataFrame(data2_a_sumHF1)
data2_b_sumHF1 = pd.DataFrame(data2_b_sumHF1)
data2_c_sumHF1 = pd.DataFrame(data2_c_sumHF1)
data2_d_sumHF1 = pd.DataFrame(data2_d_sumHF1)
    
sumHF1_list = pd.concat([data1_a_sumHF1, data1_b_sumHF1, data1_c_sumHF1, data1_d_sumHF1, data2_a_sumHF1, data2_b_sumHF1, data2_c_sumHF1, data2_d_sumHF1], axis=0, ignore_index=True)
sumHF1_list

                 0
0     74672.852182
1     82718.884634
2    144958.840359
3     66858.656251
4     52684.289064
..             ...
264   60100.770213
265   57873.450248
266   61349.915744
267   48750.506741
268   74975.353196

[269 rows x 1 columns]

In [50]:
from scipy import fftpack
data1_a_sumHF2 = []
data1_b_sumHF2 = []
data1_c_sumHF2 = []
data1_d_sumHF2 = []
data2_a_sumHF2 = []
data2_b_sumHF2 = []
data2_c_sumHF2 = []
data2_d_sumHF2 = []

for i in range(0, len(data1_a_label), 1):
    x = data1_a_record[i]['整流化'].values.flatten()
    fs = 1000
    n = len(data1_a_record[i])
    fft = fftpack.fftfreq(n,1/fs)
    spectrum = np.abs(fftpack.fft(x))
    
    a = pd.DataFrame(fft)
    a.rename(columns={0: 'freq'},inplace = True)
    b = pd.DataFrame(spectrum)
    b.rename(columns={0: 'inten'},inplace = True)
    result = pd.concat([a,b],axis = 1)
    result = result.set_index('freq')
    HF2 = result.loc[211:350]
    sumHF2 = 0
    for a in HF2.inten:
        sumHF2 += a
    data1_a_sumHF2.append(sumHF2)

for i in range(0, len(data1_b_label), 1):
    x = data1_b_record[i]['整流化'].values.flatten()
    fs = 1000
    n = len(data1_b_record[i])
    fft = fftpack.fftfreq(n,1/fs)
    spectrum = np.abs(fftpack.fft(x))
    
    a = pd.DataFrame(fft)
    a.rename(columns={0: 'freq'},inplace = True)
    b = pd.DataFrame(spectrum)
    b.rename(columns={0: 'inten'},inplace = True)
    result = pd.concat([a,b],axis = 1)
    result = result.set_index('freq')
    HF2 = result.loc[211:350]
    sumHF2 = 0
    for a in HF2.inten:
        sumHF2 += a
    data1_b_sumHF2.append(sumHF2)

for i in range(0, len(data1_c_label), 1):
    x = data1_c_record[i]['整流化'].values.flatten()
    fs = 1000
    n = len(data1_c_record[i])
    fft = fftpack.fftfreq(n,1/fs)
    spectrum = np.abs(fftpack.fft(x))
    
    a = pd.DataFrame(fft)
    a.rename(columns={0: 'freq'},inplace = True)
    b = pd.DataFrame(spectrum)
    b.rename(columns={0: 'inten'},inplace = True)
    result = pd.concat([a,b],axis = 1)
    result = result.set_index('freq')
    HF2 = result.loc[211:350]
    sumHF2 = 0
    for a in HF2.inten:
        sumHF2 += a
    data1_c_sumHF2.append(sumHF2)

for i in range(0, len(data1_d_label), 1):
    x = data1_d_record[i]['整流化'].values.flatten()
    fs = 1000
    n = len(data1_d_record[i])
    fft = fftpack.fftfreq(n,1/fs)
    spectrum = np.abs(fftpack.fft(x))
    
    a = pd.DataFrame(fft)
    a.rename(columns={0: 'freq'},inplace = True)
    b = pd.DataFrame(spectrum)
    b.rename(columns={0: 'inten'},inplace = True)
    result = pd.concat([a,b],axis = 1)
    result = result.set_index('freq')
    HF2 = result.loc[211:350]
    sumHF2 = 0
    for a in HF2.inten:
        sumHF2 += a
    data1_d_sumHF2.append(sumHF2)

for i in range(0, len(data2_a_label), 1):
    x = data2_a_record[i]['整流化'].values.flatten()
    fs = 1000
    n = len(data2_a_record[i])
    fft = fftpack.fftfreq(n,1/fs)
    spectrum = np.abs(fftpack.fft(x))
    
    a = pd.DataFrame(fft)
    a.rename(columns={0: 'freq'},inplace = True)
    b = pd.DataFrame(spectrum)
    b.rename(columns={0: 'inten'},inplace = True)
    result = pd.concat([a,b],axis = 1)
    result = result.set_index('freq')
    HF2 = result.loc[211:350]
    sumHF2 = 0
    for a in HF2.inten:
        sumHF2 += a
    data2_a_sumHF2.append(sumHF2)

for i in range(0, len(data2_b_label), 1):
    x = data2_b_record[i]['整流化'].values.flatten()
    fs = 1000
    n = len(data2_b_record[i])
    fft = fftpack.fftfreq(n,1/fs)
    spectrum = np.abs(fftpack.fft(x))
    
    a = pd.DataFrame(fft)
    a.rename(columns={0: 'freq'},inplace = True)
    b = pd.DataFrame(spectrum)
    b.rename(columns={0: 'inten'},inplace = True)
    result = pd.concat([a,b],axis = 1)
    result = result.set_index('freq')
    HF2 = result.loc[211:350]
    sumHF2 = 0
    for a in HF2.inten:
        sumHF2 += a
    data2_b_sumHF2.append(sumHF2)

for i in range(0, len(data2_c_label), 1):
    x = data2_c_record[i]['整流化'].values.flatten()
    fs = 1000
    n = len(data2_c_record[i])
    fft = fftpack.fftfreq(n,1/fs)
    spectrum = np.abs(fftpack.fft(x))
    
    a = pd.DataFrame(fft)
    a.rename(columns={0: 'freq'},inplace = True)
    b = pd.DataFrame(spectrum)
    b.rename(columns={0: 'inten'},inplace = True)
    result = pd.concat([a,b],axis = 1)
    result = result.set_index('freq')
    HF2 = result.loc[211:350]
    usmHF2 = 0
    for a in HF2.inten:
        HF2 += a
    data2_c_sumHF2.append(sumHF2)

for i in range(0, len(data2_d_label), 1):
    x = data2_d_record[i]['整流化'].values.flatten()
    fs = 1000
    n = len(data2_d_record[i])
    fft = fftpack.fftfreq(n,1/fs)
    spectrum = np.abs(fftpack.fft(x))
    
    a = pd.DataFrame(fft)
    a.rename(columns={0: 'freq'},inplace = True)
    b = pd.DataFrame(spectrum)
    b.rename(columns={0: 'inten'},inplace = True)
    result = pd.concat([a,b],axis = 1)
    result = result.set_index('freq')
    HF2 = result.loc[211:350]
    sumHF2 = 0
    for a in HF2.inten:
        sumHF2 += a
    data2_d_sumHF2.append(sumHF2)    
    
    

data1_a_sumHF2 = pd.DataFrame(data1_a_sumHF2)
data1_b_sumHF2 = pd.DataFrame(data1_b_sumHF2)
data1_c_sumHF2 = pd.DataFrame(data1_c_sumHF2)
data1_d_sumHF2 = pd.DataFrame(data1_d_sumHF2)
data2_a_sumHF2 = pd.DataFrame(data2_a_sumHF2)
data2_b_sumHF2 = pd.DataFrame(data2_b_sumHF2)
data2_c_sumHF2 = pd.DataFrame(data2_c_sumHF2)
data2_d_sumHF2 = pd.DataFrame(data2_d_sumHF2)
    
sumHF2_list = pd.concat([data1_a_sumHF2, data1_b_sumHF2, data1_c_sumHF2, data1_d_sumHF2, data2_a_sumHF2, data2_b_sumHF2, data2_c_sumHF2, data2_d_sumHF2], axis=0, ignore_index=True)
sumHF2_list

                 0
0    103265.616441
1    114638.550181
2    194028.013902
3     88982.288234
4     74026.566121
..             ...
264   81806.967680
265   79449.736801
266   82357.807281
267   67162.004128
268   98779.409524

[269 rows x 1 columns]

In [51]:
from scipy import fftpack
data1_a_sumHF3 = []
data1_b_sumHF3 = []
data1_c_sumHF3 = []
data1_d_sumHF3 = []
data2_a_sumHF3 = []
data2_b_sumHF3 = []
data2_c_sumHF3 = []
data2_d_sumHF3 = []

for i in range(0, len(data1_a_label), 1):
    x = data1_a_record[i]['整流化'].values.flatten()
    fs = 1000
    n = len(data1_a_record[i])
    fft = fftpack.fftfreq(n,1/fs)
    spectrum = np.abs(fftpack.fft(x))
    
    a = pd.DataFrame(fft)
    a.rename(columns={0: 'freq'},inplace = True)
    b = pd.DataFrame(spectrum)
    b.rename(columns={0: 'inten'},inplace = True)
    result = pd.concat([a,b],axis = 1)
    result = result.set_index('freq')
    HF3 = result.loc[211:400]
    sumHF3 = 0
    for a in HF3.inten:
        sumHF3 += a
    data1_a_sumHF3.append(sumHF3)

for i in range(0, len(data1_b_label), 1):
    x = data1_b_record[i]['整流化'].values.flatten()
    fs = 1000
    n = len(data1_b_record[i])
    fft = fftpack.fftfreq(n,1/fs)
    spectrum = np.abs(fftpack.fft(x))
    
    a = pd.DataFrame(fft)
    a.rename(columns={0: 'freq'},inplace = True)
    b = pd.DataFrame(spectrum)
    b.rename(columns={0: 'inten'},inplace = True)
    result = pd.concat([a,b],axis = 1)
    result = result.set_index('freq')
    HF3 = result.loc[211:400]
    sumHF3 = 0
    for a in HF3.inten:
        sumHF3 += a
    data1_b_sumHF3.append(sumHF3)

for i in range(0, len(data1_c_label), 1):
    x = data1_c_record[i]['整流化'].values.flatten()
    fs = 1000
    n = len(data1_c_record[i])
    fft = fftpack.fftfreq(n,1/fs)
    spectrum = np.abs(fftpack.fft(x))
    
    a = pd.DataFrame(fft)
    a.rename(columns={0: 'freq'},inplace = True)
    b = pd.DataFrame(spectrum)
    b.rename(columns={0: 'inten'},inplace = True)
    result = pd.concat([a,b],axis = 1)
    result = result.set_index('freq')
    HF3 = result.loc[211:400]
    sumHF3 = 0
    for a in HF3.inten:
        sumHF3 += a
    data1_c_sumHF3.append(sumHF3)

for i in range(0, len(data1_d_label), 1):
    x = data1_d_record[i]['整流化'].values.flatten()
    fs = 1000
    n = len(data1_d_record[i])
    fft = fftpack.fftfreq(n,1/fs)
    spectrum = np.abs(fftpack.fft(x))
    
    a = pd.DataFrame(fft)
    a.rename(columns={0: 'freq'},inplace = True)
    b = pd.DataFrame(spectrum)
    b.rename(columns={0: 'inten'},inplace = True)
    result = pd.concat([a,b],axis = 1)
    result = result.set_index('freq')
    HF3 = result.loc[211:400]
    sumHF3 = 0
    for a in HF3.inten:
        sumHF3 += a
    data1_d_sumHF3.append(sumHF3)

for i in range(0, len(data2_a_label), 1):
    x = data2_a_record[i]['整流化'].values.flatten()
    fs = 1000
    n = len(data2_a_record[i])
    fft = fftpack.fftfreq(n,1/fs)
    spectrum = np.abs(fftpack.fft(x))
    
    a = pd.DataFrame(fft)
    a.rename(columns={0: 'freq'},inplace = True)
    b = pd.DataFrame(spectrum)
    b.rename(columns={0: 'inten'},inplace = True)
    result = pd.concat([a,b],axis = 1)
    result = result.set_index('freq')
    HF3 = result.loc[211:400]
    sumHF3 = 0
    for a in HF3.inten:
        sumHF3 += a
    data2_a_sumHF3.append(sumHF3)

for i in range(0, len(data2_b_label), 1):
    x = data2_b_record[i]['整流化'].values.flatten()
    fs = 1000
    n = len(data2_b_record[i])
    fft = fftpack.fftfreq(n,1/fs)
    spectrum = np.abs(fftpack.fft(x))
    
    a = pd.DataFrame(fft)
    a.rename(columns={0: 'freq'},inplace = True)
    b = pd.DataFrame(spectrum)
    b.rename(columns={0: 'inten'},inplace = True)
    result = pd.concat([a,b],axis = 1)
    result = result.set_index('freq')
    HF3 = result.loc[211:400]
    sumHF3 = 0
    for a in HF3.inten:
        sumHF3 += a
    data2_b_sumHF3.append(sumHF3)

for i in range(0, len(data2_c_label), 1):
    x = data2_c_record[i]['整流化'].values.flatten()
    fs = 1000
    n = len(data2_c_record[i])
    fft = fftpack.fftfreq(n,1/fs)
    spectrum = np.abs(fftpack.fft(x))
    
    a = pd.DataFrame(fft)
    a.rename(columns={0: 'freq'},inplace = True)
    b = pd.DataFrame(spectrum)
    b.rename(columns={0: 'inten'},inplace = True)
    result = pd.concat([a,b],axis = 1)
    result = result.set_index('freq')
    HF3 = result.loc[211:400]
    usmHF3 = 0
    for a in HF3.inten:
        HF3 += a
    data2_c_sumHF3.append(sumHF3)

for i in range(0, len(data2_d_label), 1):
    x = data2_d_record[i]['整流化'].values.flatten()
    fs = 1000
    n = len(data2_d_record[i])
    fft = fftpack.fftfreq(n,1/fs)
    spectrum = np.abs(fftpack.fft(x))
    
    a = pd.DataFrame(fft)
    a.rename(columns={0: 'freq'},inplace = True)
    b = pd.DataFrame(spectrum)
    b.rename(columns={0: 'inten'},inplace = True)
    result = pd.concat([a,b],axis = 1)
    result = result.set_index('freq')
    HF3 = result.loc[211:400]
    sumHF3 = 0
    for a in HF3.inten:
        sumHF3 += a
    data2_d_sumHF3.append(sumHF3)    
    
    

data1_a_sumHF3 = pd.DataFrame(data1_a_sumHF3)
data1_b_sumHF3 = pd.DataFrame(data1_b_sumHF3)
data1_c_sumHF3 = pd.DataFrame(data1_c_sumHF3)
data1_d_sumHF3 = pd.DataFrame(data1_d_sumHF3)
data2_a_sumHF3 = pd.DataFrame(data2_a_sumHF3)
data2_b_sumHF3 = pd.DataFrame(data2_b_sumHF3)
data2_c_sumHF3 = pd.DataFrame(data2_c_sumHF3)
data2_d_sumHF3 = pd.DataFrame(data2_d_sumHF3)
    
sumHF3_list = pd.concat([data1_a_sumHF3, data1_b_sumHF3, data1_c_sumHF3, data1_d_sumHF3, data2_a_sumHF3, data2_b_sumHF3, data2_c_sumHF3, data2_d_sumHF3], axis=0, ignore_index=True)
sumHF3_list

                 0
0    122074.314876
1    138754.260298
2    232101.939021
3    105868.781676
4     90254.660579
..             ...
264   99000.932347
265   94373.928029
266   98792.794636
267   80867.935898
268  117482.989166

[269 rows x 1 columns]

In [52]:
from scipy import fftpack
data1_a_sumHF4 = []
data1_b_sumHF4 = []
data1_c_sumHF4 = []
data1_d_sumHF4 = []
data2_a_sumHF4 = []
data2_b_sumHF4 = []
data2_c_sumHF4 = []
data2_d_sumHF4 = []

for i in range(0, len(data1_a_label), 1):
    x = data1_a_record[i]['整流化'].values.flatten()
    fs = 1000
    n = len(data1_a_record[i])
    fft = fftpack.fftfreq(n,1/fs)
    spectrum = np.abs(fftpack.fft(x))
    
    a = pd.DataFrame(fft)
    a.rename(columns={0: 'freq'},inplace = True)
    b = pd.DataFrame(spectrum)
    b.rename(columns={0: 'inten'},inplace = True)
    result = pd.concat([a,b],axis = 1)
    result = result.set_index('freq')
    HF4 = result.loc[211:450]
    sumHF4 = 0
    for a in HF4.inten:
        sumHF4 += a
    data1_a_sumHF4.append(sumHF4)

for i in range(0, len(data1_b_label), 1):
    x = data1_b_record[i]['整流化'].values.flatten()
    fs = 1000
    n = len(data1_b_record[i])
    fft = fftpack.fftfreq(n,1/fs)
    spectrum = np.abs(fftpack.fft(x))
    
    a = pd.DataFrame(fft)
    a.rename(columns={0: 'freq'},inplace = True)
    b = pd.DataFrame(spectrum)
    b.rename(columns={0: 'inten'},inplace = True)
    result = pd.concat([a,b],axis = 1)
    result = result.set_index('freq')
    HF4 = result.loc[211:450]
    sumHF4 = 0
    for a in HF4.inten:
        sumHF4 += a
    data1_b_sumHF4.append(sumHF4)

for i in range(0, len(data1_c_label), 1):
    x = data1_c_record[i]['整流化'].values.flatten()
    fs = 1000
    n = len(data1_c_record[i])
    fft = fftpack.fftfreq(n,1/fs)
    spectrum = np.abs(fftpack.fft(x))
    
    a = pd.DataFrame(fft)
    a.rename(columns={0: 'freq'},inplace = True)
    b = pd.DataFrame(spectrum)
    b.rename(columns={0: 'inten'},inplace = True)
    result = pd.concat([a,b],axis = 1)
    result = result.set_index('freq')
    HF4 = result.loc[211:450]
    sumHF4 = 0
    for a in HF4.inten:
        sumHF4 += a
    data1_c_sumHF4.append(sumHF4)

for i in range(0, len(data1_d_label), 1):
    x = data1_d_record[i]['整流化'].values.flatten()
    fs = 1000
    n = len(data1_d_record[i])
    fft = fftpack.fftfreq(n,1/fs)
    spectrum = np.abs(fftpack.fft(x))
    
    a = pd.DataFrame(fft)
    a.rename(columns={0: 'freq'},inplace = True)
    b = pd.DataFrame(spectrum)
    b.rename(columns={0: 'inten'},inplace = True)
    result = pd.concat([a,b],axis = 1)
    result = result.set_index('freq')
    HF4 = result.loc[211:450]
    sumHF4 = 0
    for a in HF4.inten:
        sumHF4 += a
    data1_d_sumHF4.append(sumHF4)

for i in range(0, len(data2_a_label), 1):
    x = data2_a_record[i]['整流化'].values.flatten()
    fs = 1000
    n = len(data2_a_record[i])
    fft = fftpack.fftfreq(n,1/fs)
    spectrum = np.abs(fftpack.fft(x))
    
    a = pd.DataFrame(fft)
    a.rename(columns={0: 'freq'},inplace = True)
    b = pd.DataFrame(spectrum)
    b.rename(columns={0: 'inten'},inplace = True)
    result = pd.concat([a,b],axis = 1)
    result = result.set_index('freq')
    HF4 = result.loc[211:450]
    sumHF4 = 0
    for a in HF4.inten:
        sumHF4 += a
    data2_a_sumHF4.append(sumHF4)

for i in range(0, len(data2_b_label), 1):
    x = data2_b_record[i]['整流化'].values.flatten()
    fs = 1000
    n = len(data2_b_record[i])
    fft = fftpack.fftfreq(n,1/fs)
    spectrum = np.abs(fftpack.fft(x))
    
    a = pd.DataFrame(fft)
    a.rename(columns={0: 'freq'},inplace = True)
    b = pd.DataFrame(spectrum)
    b.rename(columns={0: 'inten'},inplace = True)
    result = pd.concat([a,b],axis = 1)
    result = result.set_index('freq')
    HF4 = result.loc[211:450]
    sumHF4 = 0
    for a in HF4.inten:
        sumHF4 += a
    data2_b_sumHF4.append(sumHF4)

for i in range(0, len(data2_c_label), 1):
    x = data2_c_record[i]['整流化'].values.flatten()
    fs = 1000
    n = len(data2_c_record[i])
    fft = fftpack.fftfreq(n,1/fs)
    spectrum = np.abs(fftpack.fft(x))
    
    a = pd.DataFrame(fft)
    a.rename(columns={0: 'freq'},inplace = True)
    b = pd.DataFrame(spectrum)
    b.rename(columns={0: 'inten'},inplace = True)
    result = pd.concat([a,b],axis = 1)
    result = result.set_index('freq')
    HF4 = result.loc[211:450]
    usmHF4 = 0
    for a in HF4.inten:
        HF4 += a
    data2_c_sumHF4.append(sumHF4)

for i in range(0, len(data2_d_label), 1):
    x = data2_d_record[i]['整流化'].values.flatten()
    fs = 1000
    n = len(data2_d_record[i])
    fft = fftpack.fftfreq(n,1/fs)
    spectrum = np.abs(fftpack.fft(x))
    
    a = pd.DataFrame(fft)
    a.rename(columns={0: 'freq'},inplace = True)
    b = pd.DataFrame(spectrum)
    b.rename(columns={0: 'inten'},inplace = True)
    result = pd.concat([a,b],axis = 1)
    result = result.set_index('freq')
    HF4 = result.loc[211:450]
    sumHF4 = 0
    for a in HF4.inten:
        sumHF4 += a
    data2_d_sumHF4.append(sumHF4)    
    
    

data1_a_sumHF4 = pd.DataFrame(data1_a_sumHF4)
data1_b_sumHF4 = pd.DataFrame(data1_b_sumHF4)
data1_c_sumHF4 = pd.DataFrame(data1_c_sumHF4)
data1_d_sumHF4 = pd.DataFrame(data1_d_sumHF4)
data2_a_sumHF4 = pd.DataFrame(data2_a_sumHF4)
data2_b_sumHF4 = pd.DataFrame(data2_b_sumHF4)
data2_c_sumHF4 = pd.DataFrame(data2_c_sumHF4)
data2_d_sumHF4 = pd.DataFrame(data2_d_sumHF4)
    
sumHF4_list = pd.concat([data1_a_sumHF4, data1_b_sumHF4, data1_c_sumHF4, data1_d_sumHF4, data2_a_sumHF4, data2_b_sumHF4, data2_c_sumHF4, data2_d_sumHF4], axis=0, ignore_index=True)
sumHF4_list

                 0
0    135939.137480
1    157200.299154
2    262550.297491
3    118702.115020
4    103235.319131
..             ...
264  110941.871852
265  105238.770317
266  111332.871177
267   91942.565730
268  132821.700119

[269 rows x 1 columns]

In [53]:
from scipy import fftpack
data1_a_sumHF5 = []
data1_b_sumHF5 = []
data1_c_sumHF5 = []
data1_d_sumHF5 = []
data2_a_sumHF5 = []
data2_b_sumHF5 = []
data2_c_sumHF5 = []
data2_d_sumHF5 = []

for i in range(0, len(data1_a_label), 1):
    x = data1_a_record[i]['整流化'].values.flatten()
    fs = 1000
    n = len(data1_a_record[i])
    fft = fftpack.fftfreq(n,1/fs)
    spectrum = np.abs(fftpack.fft(x))
    
    a = pd.DataFrame(fft)
    a.rename(columns={0: 'freq'},inplace = True)
    b = pd.DataFrame(spectrum)
    b.rename(columns={0: 'inten'},inplace = True)
    result = pd.concat([a,b],axis = 1)
    result = result.set_index('freq')
    HF5 = result.loc[211:499]
    sumHF5 = 0
    for a in HF5.inten:
        sumHF5 += a
    data1_a_sumHF5.append(sumHF5)

for i in range(0, len(data1_b_label), 1):
    x = data1_b_record[i]['整流化'].values.flatten()
    fs = 1000
    n = len(data1_b_record[i])
    fft = fftpack.fftfreq(n,1/fs)
    spectrum = np.abs(fftpack.fft(x))
    
    a = pd.DataFrame(fft)
    a.rename(columns={0: 'freq'},inplace = True)
    b = pd.DataFrame(spectrum)
    b.rename(columns={0: 'inten'},inplace = True)
    result = pd.concat([a,b],axis = 1)
    result = result.set_index('freq')
    HF5 = result.loc[211:499]
    sumHF5 = 0
    for a in HF5.inten:
        sumHF5 += a
    data1_b_sumHF5.append(sumHF5)

for i in range(0, len(data1_c_label), 1):
    x = data1_c_record[i]['整流化'].values.flatten()
    fs = 1000
    n = len(data1_c_record[i])
    fft = fftpack.fftfreq(n,1/fs)
    spectrum = np.abs(fftpack.fft(x))
    
    a = pd.DataFrame(fft)
    a.rename(columns={0: 'freq'},inplace = True)
    b = pd.DataFrame(spectrum)
    b.rename(columns={0: 'inten'},inplace = True)
    result = pd.concat([a,b],axis = 1)
    result = result.set_index('freq')
    HF5 = result.loc[211:499]
    sumHF5 = 0
    for a in HF5.inten:
        sumHF5 += a
    data1_c_sumHF5.append(sumHF5)

for i in range(0, len(data1_d_label), 1):
    x = data1_d_record[i]['整流化'].values.flatten()
    fs = 1000
    n = len(data1_d_record[i])
    fft = fftpack.fftfreq(n,1/fs)
    spectrum = np.abs(fftpack.fft(x))
    
    a = pd.DataFrame(fft)
    a.rename(columns={0: 'freq'},inplace = True)
    b = pd.DataFrame(spectrum)
    b.rename(columns={0: 'inten'},inplace = True)
    result = pd.concat([a,b],axis = 1)
    result = result.set_index('freq')
    HF5 = result.loc[211:499]
    sumHF5 = 0
    for a in HF5.inten:
        sumHF5 += a
    data1_d_sumHF5.append(sumHF5)

for i in range(0, len(data2_a_label), 1):
    x = data2_a_record[i]['整流化'].values.flatten()
    fs = 1000
    n = len(data2_a_record[i])
    fft = fftpack.fftfreq(n,1/fs)
    spectrum = np.abs(fftpack.fft(x))
    
    a = pd.DataFrame(fft)
    a.rename(columns={0: 'freq'},inplace = True)
    b = pd.DataFrame(spectrum)
    b.rename(columns={0: 'inten'},inplace = True)
    result = pd.concat([a,b],axis = 1)
    result = result.set_index('freq')
    HF5 = result.loc[211:499]
    sumHF5 = 0
    for a in HF5.inten:
        sumHF5 += a
    data2_a_sumHF5.append(sumHF5)

for i in range(0, len(data2_b_label), 1):
    x = data2_b_record[i]['整流化'].values.flatten()
    fs = 1000
    n = len(data2_b_record[i])
    fft = fftpack.fftfreq(n,1/fs)
    spectrum = np.abs(fftpack.fft(x))
    
    a = pd.DataFrame(fft)
    a.rename(columns={0: 'freq'},inplace = True)
    b = pd.DataFrame(spectrum)
    b.rename(columns={0: 'inten'},inplace = True)
    result = pd.concat([a,b],axis = 1)
    result = result.set_index('freq')
    HF5 = result.loc[211:499]
    sumHF5 = 0
    for a in HF5.inten:
        sumHF5 += a
    data2_b_sumHF5.append(sumHF5)

for i in range(0, len(data2_c_label), 1):
    x = data2_c_record[i]['整流化'].values.flatten()
    fs = 1000
    n = len(data2_c_record[i])
    fft = fftpack.fftfreq(n,1/fs)
    spectrum = np.abs(fftpack.fft(x))
    
    a = pd.DataFrame(fft)
    a.rename(columns={0: 'freq'},inplace = True)
    b = pd.DataFrame(spectrum)
    b.rename(columns={0: 'inten'},inplace = True)
    result = pd.concat([a,b],axis = 1)
    result = result.set_index('freq')
    HF5 = result.loc[211:499]
    usmHF5 = 0
    for a in HF5.inten:
        HF5 += a
    data2_c_sumHF5.append(sumHF5)

for i in range(0, len(data2_d_label), 1):
    x = data2_d_record[i]['整流化'].values.flatten()
    fs = 1000
    n = len(data2_d_record[i])
    fft = fftpack.fftfreq(n,1/fs)
    spectrum = np.abs(fftpack.fft(x))
    
    a = pd.DataFrame(fft)
    a.rename(columns={0: 'freq'},inplace = True)
    b = pd.DataFrame(spectrum)
    b.rename(columns={0: 'inten'},inplace = True)
    result = pd.concat([a,b],axis = 1)
    result = result.set_index('freq')
    HF5 = result.loc[211:499]
    sumHF5 = 0
    for a in HF5.inten:
        sumHF5 += a
    data2_d_sumHF5.append(sumHF5)    
    
    

data1_a_sumHF5 = pd.DataFrame(data1_a_sumHF5)
data1_b_sumHF5 = pd.DataFrame(data1_b_sumHF5)
data1_c_sumHF5 = pd.DataFrame(data1_c_sumHF5)
data1_d_sumHF5 = pd.DataFrame(data1_d_sumHF5)
data2_a_sumHF5 = pd.DataFrame(data2_a_sumHF5)
data2_b_sumHF5 = pd.DataFrame(data2_b_sumHF5)
data2_c_sumHF5 = pd.DataFrame(data2_c_sumHF5)
data2_d_sumHF5 = pd.DataFrame(data2_d_sumHF5)
    
sumHF5_list = pd.concat([data1_a_sumHF5, data1_b_sumHF5, data1_c_sumHF5, data1_d_sumHF5, data2_a_sumHF5, data2_b_sumHF5, data2_c_sumHF5, data2_d_sumHF5], axis=0, ignore_index=True)
sumHF5_list

                 0
0    146255.087630
1    171229.433372
2    288851.781087
3    128707.198912
4    112883.241979
..             ...
264  120808.082856
265  113168.020841
266  120865.763145
267  101799.240746
268  146313.247473

[269 rows x 1 columns]

In [55]:
feature = pd.concat([emg_list, sumVLF_list, sumLF_list, sumHF1_list, sumHF2_list, sumHF3_list, sumHF4_list, sumHF5_list], axis=1, ignore_index=False)

In [56]:
feature.columns = ["emg", "VLF", "LF", "HF1", "HF2", "HF3", "HF4", "HF5"]

In [57]:
feature.to_csv("feature_emg.csv", index=False)